.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: var(--height-header);
  border-bottom: 1px solid var(--color-main);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link {
  display: flex;
  text-decoration: none;
  align-items: center;
  margin-left: 30px;
}

.logo {
  width: 60px;
  height: 60px;
  margin-right: 8px;
}

.title {
  text-transform: uppercase;
  font-size: 15px;
  color: var(--color-main);
  text-align: center;
  font-weight: 200;
}

.icon {
  width: 50px;
  height: 50px;
}

.sectionLink {
  margin: 0 10px;
}

.links {
  display: flex;
  text-decoration: none;
  align-items: center;
  margin-right: 10px;
}