.loading {
  height: 48px;
  width: 48px;
  color: var(--color-main);
  border-radius: 50%;
  border: 2px solid;
  position: relative;
  display: inline-block; 
}

.loading::after {
  content: '';
  height: 35%;
  width: 0;
  border-radius: 5px;
  border: 1px solid;
  display: block;
  color: inherit;
  position: absolute;
  left: 20px;
  top: 5.5px;
  transform-origin: bottom;
  animation: rotate 1s linear infinite; 
}

@keyframes rotate {
  0% {
    transform: rotate(0); 
  }
  100% {
    transform: rotate(360deg); 
  } 
}