.main {
  width: 90%;
  max-width: 800px;
}

.title {
  color: var(--color-main);
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 30px;
}

.dilemmas {
  margin: 20px auto;
}

.dilemma {
  border: 1px solid var(--color-main);
  border-radius: 4px;
  padding: 12px 20px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.image {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.dilemmaTitle {
  color: var(--color-main);
  text-decoration: none;
}

.end {
  margin-top: 20px;
}