.result {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-self: flex-start;
  margin-top: 75px;
}

.bar {
  border: 1px solid var(--color-main);
  width: 80vw;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.barTotal {
  mix-blend-mode: difference;
  color: white;
  font-size: 42px;
  font-weight: 200;
}

.positive {
  font-weight: 200;
  margin-bottom: 6px;
}

.negative {
  text-align: right;
  font-weight: 200;
  margin-top: 6px;
}

.button {
  background: transparent;
  border: 1px solid var(--color-main);
  border-radius: 4px;
  padding: 20px 48px;
  font-size: 22px;
  margin-top: 150px;
  text-transform: uppercase;
  font-weight: 200;
  cursor: pointer;
}

.button:hover {
  border-color: #c2c2c2;
  color: #c2c2c2;
}